@page "/cluster/{ClusterName}"
@page "/cluster/{ClusterName}/{TopicName}"
@page "/cluster/{ClusterName}/{TopicName}/{PartitionNo:int?}"

<p>Cluster: @ClusterName</p>
<p>Topic: @TopicName</p>
<p>Partition: @PartitionNo</p>

@if (TopicName == null)
{
    <ClusterView Cluster="@KafkaCluster"/>
}
else if (PartitionNo == null)
{
    <TopicView Cluster="@KafkaCluster" TopicName="@TopicName"/>
}
else
{
    @*<PartitionView />*@
}